

<!-- Header / Home-->
<header class="w3-display-container w3-wide bgimg w3-grayscale-min" id="home">
  <div class="w3-display-middle w3-text-white w3-center">
<b>
    <h1 class="w3-jumbo">Brenda & Raul</h1>
    <h2>Nos casamos..</h2>
    <h2><b>04.11.2017</b></h2>
  </b>
  </div>
</header>



<!-- About / Brenda & raul -->
<div class="w3-container w3-padding-64 w3-pale-red " id="us">
  <div class="w3-content">
    <h1 class="w3-center w3-text-black"><b>Brenda & Raul</b></h1>
    <!-- SnapWidget -->
      <!-- end slideshow-->
        <p><i>
              <b>
                 Pues... Lo conocí hace tiempo, cuando era pequeña. Lo había visto algunas veces en el pueblo (Tepames), pero hasta ahí.
                 Tenemos familia en común, así que en algunas ocasiones coincidiamos. Aunque estoy segura que él si pensaba en mi porque
                 vino a mi casa con el pretexto de llevarse una tortuga que teníamos, hasta recuerda que ropa traía! Yo sólo era una niña
                 de 7 años y ya me andaba acosando! </br>
                 Así transcurrieron los años, lo veía, me veía, era todo; hasta que volvímos a coincidir en alguna red social, si, ésa en la
                 que subías una foto al día y la gente te dejaba 20 comentarios. Así que un día (17 de abril de 2009), al revisar mi página vi
                 que tenía un comentario de "Eugenio Tejeda"... Y pensé "y este mono quién es?" Ya sé, no lo ubicaba de nombre, hasta que vi su foto.
                 Y obviamente, le contesté en su página agradeciéndole sus comentarios... Y así fué como empezamos a ser amigos, sólo por internet.
                 Primero firmando nuestras páginas, después, de manera "sutil" me pidió mi dirección de correo electrónico, mi teléfono celular,
                 el número de mi casa, a qué horas me conectaba al messenger y todo medio por el cuál pudiera estar en contacto conmigo. (Ya lo traía). </b></i></p>
      <div class="w3-center">
        <script src="https://snapwidget.com/js/snapwidget.js"></script>
<iframe src="https://snapwidget.com/embed/375367" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:700px; height:700px"></iframe>        <iframe width="800" height="450" src="https://www.youtube.com/embed/vg7xL7TZyKI?rel=0" frameborder="2" allowfullscreen></iframe>




<div data-type="countdown" data-id="131423" class="tickcounter" style="width: 100%; position: relative; padding-bottom: 25%"><a href="//www.tickcounter.com/countdown/131423/faltan" title="Faltan">Faltan</a><a href="//www.tickcounter.com/" title="Countdown">Countdown</a></div>
<script>
(function(d, s, id) {
  var js, pjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id))
    return; js = d.createElement(s); js.id = id; js.src = "//www.tickcounter.com/static/js/loader.js"; pjs.parentNode.insertBefore(js, pjs);
  }(document, "script", "tickcounter-sdk"));
</script>



      </div>
    </p><br>
  </div>
  <p class="w3-center"><a href="#wedding" class="w3-button w3-black w3-round w3-padding-large w3-large">Detalles sobre la boda</a></p>
</div>

<!-- Background photo -->
<div class="w3-display-container bgimg2">
  <div class="w3-display-middle w3-text-white w3-center">
    <h1 class="w3-jumbo">Estas invitado..! </h1><br>
    <h2>Por supuesto..</h2>
  </div>
</div>

<!-- Wedding information -->
<div class="w3-container w3-padding-64 w3-pale-red  w3-center" id="wedding">
  <div class="w3-content">
    <h1 class="w3-text-grey"><b>La Boda</b></h1>
    <img class="w3-round-large " src="http://www.nosotras.com/wp-content/uploads/2014/11/49a5f8ba8460ed04f146727ebdffe9b8.jpg" style="width:100%;margin:64px 0">
    <div class="w3-row">
      <div class="w3-half">
        <b>
          <h2>Cuando?</h2>
          <p>Ceremonia Religiosa- 5:00pm</p>
          <p>Boda Civil- 7:00pm</p>
          <p>Recepcion y Cena - 8:00pm</p>
       </b>
      </div>
      <div class="w3-half">
        <h2>Donde?</h2>
        <b>
          <p>Parroquia de la Sagrada Familia - Col. Hidalgo</p>
          <p>Jardin Vesalles - Calle uruguay Cuahutemoc sur</p>
        </b>
        <p class="w3-xlarge">
          <button onclick="document.getElementById('id02').style.display='block'" class="w3-button w3-round w3-red w3-opacity w3-hover-opacity-off" style="padding:8px 60px">Como llegar?</button>
        </p>
      </div>
    </div>
    <div class="w3-col l8 m5">
     <div id="googleMap" style="width:180%;height:400px;" class="w3-center"></div>
   </div>
  </div>

</div>
<!-- RSVP section -->
<div class="w3-container w3-padding-64 w3-pale-red w3-center w3-wide" id="rsvp">
  <hr>
  <h1>Queremos saber que piensas? puedes dejarnos tus comentarios, ideas o lo que quieras en nuestro blog</h1>
  <p class="w3-large">Entra a nuestro blog!!</p>
  <p class="w3-xlarge">
    <%= link_to '<button class="w3-button w3-round w3-red w3-opacity w3-hover-opacity-off" type="button"><b>Blog de la boda</b></button>'.html_safe, blog_path%>
  </p>
  <hr>
  <h1>ESPERAMOS CONTAR CON TU PRESENCIA!</h1>
  <p class="w3-large">Porfavor confirmanos tu asisentica antes de: 1 de octubre 2017</p>
  <p class="w3-xlarge">
    <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-round w3-red w3-opacity w3-hover-opacity-off" style="padding:8px 60px">RSVP</button>

  </p>
</div>

<!-- RSVP modal -->
<div id="id01" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="padding:32px;max-width:600px">
    <div class="w3-container w3-white w3-center">
      <h1 class="w3-wide">NOS PODRAS ACOMPANAR?</h1>
      <p>Nos encantaria que nos acompanaras ese dia tan especial.</p>
      <form>
        <input class="w3-input w3-border" type="text" placeholder="Name(s)" name="name">
      </form>
      <p><i>Sinceramente: Brenda & Raul</i></p>
      <div class="w3-row">
        <div class="w3-half">
          <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-block w3-green">Si, claro!! :) </button>
        </div>
        <div class="w3-half">
          <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-block w3-red">No, podre :( </button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- como llegar modal -->
<div id="id02" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="padding:32px;max-width:1000px">
    <div class="w3-container w3-white w3-center">
      <h1 class="w3-wide">Direcciones:</h1>
      <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d26879.32593158758!2d-115.47335964065147!3d32.635067228989115!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x80d770c6ca03ff31%3A0xebc0cd62e88d39b8!2sParroquia+De+La+Sagrada+Familia%2C+colonia+b+c%2C+Calle+56+2020%2C+Hidalgo%2C+21389+Hidalgo%2C+B.C.!3m2!1d32.6112566!2d-115.44524419999999!4m5!1s0x80d770153f68059d%3A0x7ca7bf6867e4b5ba!2sJardin+Versalles%2C+Avenida+Rep%C3%BAblica+de+Uruguay%2C+Cuauht%C3%A9moc+Sur%2C+Mexicali%2C+B.C.!3m2!1d32.6588803!2d-115.4511917!5e0!3m2!1ses-419!2smx!4v1493655425571" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
      <p><i>Sinceramente: Brenda & Raul</i></p>
      <div class="w3-row">
        <div class="w3-one">
          <button onclick="document.getElementById('id02').style.display='none'" type="button" class="w3-button w3-block w3-green w3-center">Lito ya se como llegar!!</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end -->

<!-- Google map script -->
<script>
function myMap()
{
  myCenter=new google.maps.LatLng(32.6588803,-115.4513339);
  var mapOptions= {
    center:myCenter,
    zoom:16, scrollwheel: false, draggable: true,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  var map=new google.maps.Map(document.getElementById("googleMap"),mapOptions);

  var marker = new google.maps.Marker({
    position: myCenter,
  });
  marker.setMap(map);
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBWavkAJEWPBMOys2-RYKOGDPtBj1EhOJc&callback=myMap"></script>

<!-- slidshow javascript -->
